name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-package-version:
    name: Check package version and detect an update
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      committed-version: ${{ steps.check-package-version.outputs.committed-version }}
      published-version: ${{ steps.check-package-version.outputs.published-version }}
      is-new-version: ${{ steps.check-package-version.outputs.is-new-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check package version and detect an update
        id: check-package-version
        uses: PostHog/check-package-version@v2

  release:
    name: Publish release if new version
    runs-on: ubuntu-latest
    needs: check-package-version
    if: needs.check-package-version.outputs.is-new-version == 'true'
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Node.js for npm registry
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: bun install

      - name: Build the package
        run: bun run build

      - name: Publish the package to npm registry
        run: bun publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

